* {
  box-sizing: border-box;
}

body {
  width: 1380px;
  height: 944px;
  padding: 26px;
}

#root {
  width: 1328px;
  height: 892px;
}

#search-box {
  position: relative;
}

#search-box img {
  position: absolute;
  top: 3px;
  left: 5px;
}

#search-box input {
  padding: 5px 35px;
  width: 318px;
}

.section {
  height: 816px;
  width: 318px;
  background-color: #e8f4f8;
  padding: 15px;
}

#status-bar {
  display: flex;
  justify-content: space-between;
}

.progress-box {
  display: flex;
  gap: 20px;
}
.progress-box p {
  margin: 0;
}
